.news-article {
}

.a {
  transition: all 0.3s;
}

.a:hover {
  transform: scale(1.1);
}

.header-text {
    color: #fff !important;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000 !important;
}

.article-text-color {
    color: #fff !important;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000 !important;
}

.article-text-header {
    font-size: 30px !important;
}

.article-text-category {
    font-size: 16px !important;
}

.article-text-main {
    font-size: 16px !important;
}

.article-text-source {
    font-size: 14px !important;
    color: #000 !important;
    text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff !important;
}

