<!DOCTYPE html>
<html>
<head>
	<title>Meow</title>
	<link rel="stylesheet" type="text/css" href="../../../static/src/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>
<body>
	<ul>
		<li class="list-item">home</li>
		<li class="list-item">news</li>
		<li class="list-item">tech</li>
		<li class="list-item">sport</li>
		<li class="list-item">politics</li>
	</ul>
	<div class="main">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
	</div>
</body>
</html>