<!DOCTYPE html>
<html>
<head>
	<title>Meow</title>
	<link rel="stylesheet" type="text/css" href="../../../static/src/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>
<body>
	<ul class="nav-container">
		<li class="nav-item">home</li>
		<li class="nav-item">news</li>
		<li class="nav-item">tech</li>
		<li class="nav-item">sport</li>
		<li class="nav-item">politics</li>
	</ul>
	<div class="news-title">here can be your advertisement</div>
	<div class="news-container">
		<div class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
		<div class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
		<div class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
		<div class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
		<div class="news-item">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>
	</div>
</body>
</html>